{
  "presets": [
    ["env", {
      "targets": {
        "node": "current"
      },
      "debug":true
    }]
  ],
  "plugins": [
    "transform-async-to-generator"
  ],
  "ignore": [
    "node_modules"
  ]
}